<div class="last">
    <div class="trending">
        <b>Trending Searches Right Now</b>
    </div>
    <div class="top">
        <div class="top1">
            <button><b>Kalki 2898 AD</b> <p>Movies</p></button>
        </div>
        <div class="top2">
            <button><b>Murari(Telugu)</b> <p>Movies</p></button>

        </div>
        <div class="top3">
            <button> <b>Rayaan </b><p>Movies</p></button>
        </div>
        <div class="top4">
            <button><b>Deadpool & Walverine</b> <p>Movies</p></button>
        </div>
        <div class="top5">
            <button> <b>RRR</b> <p>Movies</p></button>
        </div>
        <div class="top6">
            <button> <b>Kill</b> <p>Movies</p></button>
        </div>
    </div>
    <div class="lastone">
        <div class="last1">
            <button><b>Yeto Vellipoindhi Manasu</b><p>Movies</p></button>
        </div>
        <div class="last2">
            <button><b>Vikramarkudu</b><p>Movies</p></button>
        </div>
        <div class="last3">
            <button><b>Pushpa-The Rule-2</b><p>Movies</p></button>
            
        </div>
        <div class="last4">
            <button><b>Buddy</b><p>Movies</p></button>

        </div>
    </div>
</div>