<div class="bann">
    <div class="space">
        <div class="recom">
            <b>Your Music Studio</b>
        </div>
        <div class="see">
            <h6>See All <i class="ri-arrow-drop-right-line"></i></h6>
            

        </div>
    </div>
    <div class="images">
        <div class="img1">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAzIEF1Zw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00405446-puytcyjvyq-portrait.jpg" alt="">
    </div>
        <div class="img2">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-RnJpLCA5IEF1Zw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00402984-tzarcqdfbj-portrait.jpg" alt="">
    </div>
        <div class="img3">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCAxNSBTZXA%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00402708-uwjuvwsanj-portrait.jpg" alt="">
    </div>
        <div class="img4">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U3VuLCA0IEF1Zw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00405740-fxcbqwrtac-portrait.jpg" alt="">
    </div>
        <div class="img5">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-text,ie-U2F0LCAxMCBBdWc%3D,fs-29,co-FFFFFF,ly-612,lx-24,pa-8_0_0_0,l-end/et00401242-knfbwndxzg-portrait.jpg" alt="">
    </div>
    </div>
    <div class="names">
        <div class="name1">
            <h5>Geetha Madhuri Live at Trops</h5>
            <p>Hyderabad</p>
        </div>
        <div class="name2">
            <h5>Mangli's Concert</h5>
            <p>Hyderabad</p>
        </div>
        <div class="name3">
            <h5>Captive Soul Korolova</h5>
            <p>Hyderabad</p>

        </div>
        <div class="name4">
            <h5>Shaun & Anup's Show</h5>
            <p>Hyderabad</p>

        </div>
        <div class="name5">
            <h5>Anthracite Hard Rock Cafe</h5>
            <p>India Tour</p>

        </div>
    </div>
    
</div>
