<div class="body">
    <div class="play">
        <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-1440,h-120/premiere-banner-web-collection-202208191200.png" alt="">
    </div>
    <div class="bann">
        <div class="space">
            <div class="recom">
                <b>Premieres</b>
                <h5>Brand Nee releases every Friday</h5>
            </div>
            <div class="see">
                <h6>See All <i class="ri-arrow-drop-right-line"></i></h6>
                
    
            </div>
        </div>
        <div class="images">
            <div class="img1">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:l-image,i-discovery-catalog@@icons@@bms_premiere_v1.png,t-false,lfo-bottom_left,l-end/et00396758-twjelaevnm-portrait.jpg" alt="">
        </div>
            <div class="img2">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:l-image,i-discovery-catalog@@icons@@bms_premiere_v1.png,t-false,lfo-bottom_left,l-end/et00028553-axtxwdmhtp-portrait.jpg" alt="">
        </div>
            <div class="img3">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:l-image,i-discovery-catalog@@icons@@bms_premiere_v1.png,t-false,lfo-bottom_left,l-end/et00321581-ntvlqqyznv-portrait.jpg" alt="">
        </div>
            <div class="img4">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:l-image,i-discovery-catalog@@icons@@bms_premiere_v1.png,t-false,lfo-bottom_left,l-end/et00389112-fmhefrqlap-portrait.jpg" alt="">
        </div>
            <div class="img5">
            <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:l-image,i-discovery-catalog@@icons@@bms_premiere_v1.png,t-false,lfo-bottom_left,l-end/et00403785-yxaayqrsqw-portrait.jpg" alt="">
        </div>
        </div>
        <div class="names">
            <div class="name1">
                <h5>Pagalriyaan</h5>
                <p>Tamil</p>
            </div>
            <div class="name2">
                <h5>Yahaan Sabki Laga hai</h5>
                <p>Hindhi</p>
            </div>
            <div class="name3">
                <h5>Vaishu</h5>
                <p>Marathi</p>
    
            </div>
            <div class="name4">
                <h5>The Watchers </h5>
                <p>English</p>
    
            </div>
            <div class="name5">
                <h5>Dream Lock</h5>
                <p>Hindhi</p>
    
            </div>
        </div>
       
    </div>
    
</div>